.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

svg{
    width: 18px;
    height: 18px;
}

span{
    font-size: .8rem;
    color: #32303b;
    font-weight: bold;
}